
@{
    ViewData["Title"] = "Users Management";
}

<div class="text-center">
    <br />
    <h1>Users Management</h1>
    <br />
    <p>
      <input type="button" class="btn btn-success" value="Create new user" onclick="window.location='@Url.Action("Create", "Users")'"/>
      <input type="button" class="btn btn-primary" value="View Loans" onclick="window.location='@Url.Action("Index", "Loans")'" style="margin-left:30px"/>
    </p>
    <br />
</div>
<hr />
<div>
  <h2>Quick DEMO Actions</h2>
  <p> Create +10 of random user: <input type="button" class="btn btn-secondary" value="Generate 10 New Users" onclick="window.location='@Url.Action("CreateRandom", "Users")'"/>
      <span></span> Quick LoansDB Clear : <input type="button" class="btn btn-danger" value="Delete All Users" onclick="window.location='@Url.Action("DeleteAllUsers", "Users")'"/>
  </p>
</div>
<hr />
<div class="row p-0 m-0">
  <div class="col-12 border p-3">
    <table id="DT_Users" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>ID Nmber</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>