@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <br />
  <input type="button" class="btn btn-primary" value="View Users" onclick="window.location='@Url.Action("Index", "Users")'" />
  <br />
  <br />
  <input type="button" class="btn btn-success" value="View Loans" onclick="window.location='@Url.Action("Index", "Loans")'" />

</div>

