@{
  ViewData["Title"] = "Index";
}

<div class="text-center">
  <br />
  <h1>Loans Management</h1>
  <br />
  <p>
    <input type="button" class="btn btn-success" value="Create new loan" onclick="window.location='@Url.Action("Create", "Loans", new { userId = -1})'" />
    <input type="button" class="btn btn-primary" value="View Users" onclick="window.location='@Url.Action("Index", "Users")'" style="margin-left:30px"/>
  </p>  
  <hr />
  <div style="text-align: start !important">
    <h2>Quick DEMO Actions</h2>
    <p> Create +10 loans of random user: <input type="button" class="btn btn-secondary" value="Generate 10 loans" onclick="window.location='@Url.Action("CreateTenLoans", "Loans")'"/>
        <span></span> Quick LoansDB Clear : <input type="button" class="btn btn-danger" value="Delete All Loans" onclick="window.location='@Url.Action("DeleteAllLoans", "Loans")'"/>
    </p>
  </div>
  <hr />
  <div class="row p-0 m-0">
    <div>
      <h3>Totals</h3>
      <p> Total Fees :<span id="totalFees" style="font-weight:bold; margin-left:15px"></span></p>
      <p> Loan Totals :<span id="loanTotals" style="font-weight:bold; margin-left:15px"></span></p>
    </div>
    <hr />
    <div>
      <div id="position" style="margin-top: 30px;">
        <h3>Filter Loans By Type</h3>
        <input type="checkbox" name="pos" value="Personal Loan"><span style="margin-left:10px">Personal Loan </span>
        <input type="checkbox" name="pos" value="Vehicle Loan" style="margin-left:15px"><span style="margin-left:10px">Vehicle Loan </span>
        <input type="checkbox" name="pos" value="Home Loan" sstyle="margin-left:15px"><span style="margin-left:10px">Home Loan </span>
      </div>
    </div>
    <hr />
    <div class="col-12 border p-3">
      <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Client Firstname</th>
            <th>Client Lastname</th>
            <th>Client ID Nmber</th>
            <th>Loan Amount (R)</th>
            <th>Loan Type</th>
            <th>Loan Interest Rate (%)</th>
            <th>Loan Total Amount (R)</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
